---
layout: 2019_default
permalink: /2019/team
title: Team IVFDF 2019
---

<section id="conference" class="black-frame about about-container about-container-top">
      <h1>{{ page.title }}</h1>

<h3>The Chairperson: Zoe Sawitzki</h3>
<p>The person who has volunteered to oversee, and is ultimately responsible for, this entire endeavour is Zoe. She was steward and committee member of EUNSCDS 2009-2012 and organised dances and transport to dances. She was also part of the event committee of her Roller Derby league in Germany 2014-2017, organising home and away games. She has played the fiddle for 10 years and has been dancing since the age of 3.

<p>Character reference: She is German, therefore she organises.

<h3>The Vice Chair: Sarah Barker</h3>
<p>Zoe’s right hand woman is mining-engineer Sarah. She has been dancing and playing folk music for most of the last 25 years, involved in Scottish Country and Highland Dancing in various clubs in Australia as well as the Sydney Scottish Fiddlers. Though never involved in any folk dance committees, during uni and after graduating she held various positions in the University of New South Wales Mining Society and AusIMM NW Qld Branch committees over a period of 10 years, assisting in organising social events, networking functions, technical sessions, fundraising and large annual balls.

<p>Character reference: 

<h3>The Secretary: Emma Forrest</h3> 
<p>Keeping track of venue bookings, meeting minutes and everyone’s task list is Emma. She was on the New Scotland committee from 2016-2018, and helped to organise events, call dances and run workshops. From 2012-2015 she was a member, and subsequently secretary, of the Commonwealth Vintage Dancers. She helped to teach and perform historical dances and organise public events in the US and was responsible for taking notes at weekly rehearsals, running meetings and keeping track of paperwork. She has attended multiple past IVFDFs, working as a steward for most of them, and so is aware of the amount of work that goes into making the festival happen. Lastly, she has been dancing for about 18 years in a variety of styles, including historical social dance, Scottish Country, contra, and bal folk. 

<p>Character reference: 

<h3>The Treasurer: Shinjini (Jini) Basu</h3> 
<p>Taking care of money matters is grad student Jini. She has also been on the EUNSCDS committee, first as Freshers rep in 2015-2016, then as ordinary member from 2017-2018 and currently teaches the ceilidh class. She has been doing Indian classical dance (Bharatanatyam and Kathak) since she was about 6, Scottish country dancing for the past 3 years and tango for about 2 years. She has also had an on-again off-again arrangement with the piano forte since she was 11 and learnt to play the tabla (indian classical drums) for 7 years. In a more organisational capacity she has worked as a Warden with the University of Edinburgh Accommodation Services, managing the house budget and organising events including formal balls from 2014 - 2016, has been a resident assistant (RA) from 2012-2014 organising multiple events and was treasurer for the the Edinburgh university’s Creative writing society or ‘Create Soc’ from 2011-2012. 

<p>Character reference: She likes maths and has used excel excessively.  

<h3>Publicity Officer: Jean-Christophe (JC) Denis</h3>
<p>In charge of making sure everyone knows about IVFDF 2019 is publicity office JC. He was part of the committee in IVFDF 2014 (in charge of bands and workshops, and co-responsible for venues and budget). He started EdinBal, the Edinburgh bal-folk society, 5 years ago and chaired it for 4. He was show producer during the Dunedin Festival 2015, for a show with over 200 attendees and 100 artists. He has been a board member of the Traditional Dance Forum of Scotland for 3 years. He works as an Outreach and Public Engagement Officer at the University of Edinburgh, building strong professional experience of initiating partnerships, creating, organising and/or delivering events, defining and reaching the desired audience, interacting with varied partners, stakeholders and public, marketing events, evaluating, budgeting, reporting and publicising.

<p>Character reference:  He drinks wine and knows things. 

<h3>Publicity Officer: Maria Herz</h3> 
<p>Since we want everyone to come to IVFDF 2019, we have doubled up on the number of publicity officers with Maria. She has played the recorder and the flute since she was 7 and 10, respectively, and joined New Scotland and EdinBal when she moved to Scotland. She attended IVFDF first in 2015 and was part of the EUNSCDS committee first as steward, organising transport to and from dances and other events, and then as the president (2015-2017) making sure the society flourished.

<p>Character reference: Give her coffee and she will give you almost anything you ask for.  

<h3>Ordinary member: Isla Zhang</h3> 
<p>Helping core-committee talk to bands and organise all the other tiny details is Isla. She has been a folk dancer and traditional fiddle player for around twenty years. She has been organisationally involved in various groups since 2005, as the webmaster of Cambridge University Strathspey and Reel Club (2007-2008), secretary of the Bristol Rag Morris Folk Club (2010-2011) and general committee member of Edinburgh New Scotland society (2015-2017). She is currently involved in EdinBal, a society that promotes European folk dancing in Edinburgh. Within this role she has organised both dance and musical events, including a regular folk music session.

<p>Character reference: 

<h3>Ordinary member: Greg Dyke</h3> 
<p>Helping core-committee with the website and liasoning with bands is Greg. Greg has been playing music and dancing since 2005, first with Bal Folk and later Lindy Hop, Blues and Tango. Aside from being in demand across Europe as a teacher, he has organised week long dance retreats (2008), recurring annual weekend events (2008-2010), weekly dances (2012-2016) and volunteered in just about all roles guaranteed to not poison anyone. More recently he has been working hard to fill less glamorous roles and to promote safer spaces and inclusivity.

<p>Character reference:

<h3>Ordinary member: David Roy</h3>
<p>Our final committee member is Dave. At 68, he is our most experienced committee member and has been part of the Edinburgh Ceilidh scene for over a decade. 

<p>Character reference: He can be found at the Edinburgh Ceilidh club in his signature red kilt.

</section>
    {% include 2019_data/team_members.html %}
    {% include 2019_data/team_members_info.html %}