---
layout: 2019_timetable
permalink: /2019/timetable
title: Schedule
---
<section id="speakers" class="bg-light-gray">
<div class="container">
<h2>{{ page.title }}</h2>
      <h3>Accessibility and inclusivity reminder</h3> 
      <ul>
      <li>All our venues are wheelchair accessible except for two workshop venues (Upper Hall and Highland).
      <li>All workshops and dances are called gender free unless indicated with * (in which case they may or may not use gender terms).
      <li>We have a quiet room available throughout most of the event at Southside Community Center. Feel free to go hang out there if you need some down time. When in the quiet room, please be mindful of other people and their needs.
      <li>We have a <a href="/2019/saferspaces">Safer Spaces Policy</a>
      <li>Festivals can be intense and overwhelming. Don't forget to look out for your friends!
      <li>Drink plenty of water!
      </ul>

      <h2>Evening Schedule</h2>
      <p>Venues open half an hour before the first dance. Reception at potterrow is open friday from 6pm.</p>
       <h3>Friday Night</h3>
      <div id="fritimetable" class="timetable"></div>
      <h3>Saturday Night</h3>
      <div id="sattimetable" class="timetable"></div>
      <h2>Daytime schedule</h2>
       <p>Venues open at 9am. Workshops begin at 9.15, 10.45 and 12.15 and last 75mn each.</p>
      <h3>Saturday</h3>
      <div id="satdaytimetable" class="timetable"></div>
      <h3>Sunday</h3>
      <div id="sundaytimetable" class="timetable"></div>
<script>
      
      function padStart(s, count, character) {
            for (count = count-s.length; count>0; count--) {
                  s = character + s;
            }
            return s;
      }
      
      function getLocalTimezoneIso() {
            return "+"+ padStart(Math.floor(new Date().getTimezoneOffset() / -60)+":00", 5, '0');
      }
      
      function makeDate(timeString, dayString) {
            timeString = timeString.replace(/h/i,":");
            var date = new Date("2019-03-" + dayString + "T" + padStart(timeString, 5, '0') + ":00" + getLocalTimezoneIso());
            if (date.getHours()<6) {
                  // events after midnight actually happen on following day
                  date.setDate(date.getDate() + 1);
            }
            return date;
      }
      
      function cleanBand(band) {
            band.begin = makeDate(band.begin, "01");
            band.end = makeDate(band.end, "01");
      }
      
      function isFriday(band) {
            return band.day=="Friday";
      }
      
      function isSaturday(band) {
            return band.day=="Saturday";
      }
      
      function isSunday(band) {
            return band.day=="Sunday";
      }
      
      var begintimes = {
            "1": "9h15",
            "2": "10h45",
            "3": "12h15",
            "4": "9h15",
            "5": "10h45",
            "6": "12h15"
      }
      
      var endtimes = {
            "1": "10h30",
            "2": "12h00",
            "3": "13h30",
            "4": "10h30",
            "5": "12h00",
            "6": "13h30"
      }
      
      var days = {
            "1": "Saturday",
            "2": "Saturday",
            "3": "Saturday",
            "4": "Sunday",
            "5": "Sunday",
            "6": "Sunday"
      }
      
      function processWorkshops(workshops) {
            return workshops.map(function(workshop) {
                  return {
                        title: workshop.shorttitle,
                        begin: begintimes[workshop.position],
                        end: endtimes[workshop.position],
                        day: days[workshop.position],
                        dance: "",
                        venue: workshop.venue,
                        gender: workshop.gender,
                        id: "workshop"+workshop.id,
                  };
            });
      }
      
      function doDay(id, bands, begin, end) {
            var venues = {};
            bands.forEach(function(band) {
                  venues[band.venue] = 0
                  cleanBand(band)
            });
            venues = Object.keys(venues);

            var timetable = new Timetable();
            timetable.setScope(begin,end);
            timetable.addLocations(venues);

            bands.forEach(function(band) {
                  var fulltitle = band.title + band.gender
                  if (band.dance != "") {
                        fulltitle += " ("+band.dance+")"
                  }
                  var options = { url: '#' }
                  if (band.id) {
                        options = {
                              url: '#' + band.id,
                              class: 'speakers-link',
                              data: {
                                    toggle: 'modal'
                              }
                        }
                  }
                  timetable.addEvent(fulltitle , band.venue, band.begin, band.end, options);
            })

            var renderer = new Timetable.Renderer(timetable);
            renderer.draw(id);
      }
      
      bands = [
      {% for band in site.2019_bands %}
            {title: "{{ band.title }}", begin: "{{ band.begin }}", end: "{{ band.end }}", venue: "{{ band.venue }}", dance: "{{ band.dance }}", day: "{{ band.day }}", gender: "", id: "{{ band.name }}"},
      {% endfor %}
      ];
      
      {% for band in site.2019_otherevents %}
            bands.push({title: "{{ band.title }}", begin: "{{ band.begin }}", end: "{{ band.end }}", venue: "{{ band.venue }}", dance: "{{ band.dance }}", day: "{{ band.day }}", gender: ""})
      {% endfor %}
      
      daytime = processWorkshops(workshops);
       
      daytime.push({title: "Science Ceilidh", begin: "14h00", end: "17h00", venue: "SSCC - big hall", dance: "Display Ceilidh", day: "Saturday", gender:"*", id:"scienceceilidh"})
      daytime.push({title: "Survivor's Ceilidh", begin: "13h30", end: "16h00", venue: "SSCC - big hall", dance: "", day: "Sunday", gender:"*", id:"survivorsceilidh"})
      
      doDay('#fritimetable', bands.filter(isFriday), 19, 3);
      doDay('#sattimetable', bands.filter(isSaturday), 19, 3);
      doDay('#satdaytimetable', daytime.filter(isSaturday), 9, 17)
      doDay('#sundaytimetable', daytime.filter(isSunday), 9, 17)
      
      $(document).ready(function() {
            var $div = $("#speakers")
            workshops.forEach(function(workshop) {
                  var fulltitle = workshop.title + workshop.gender
                  var htmlString = '<div class="portfolio-modal modal fade" id="'+ "workshop"+workshop.id +'" tabindex="-1" role="dialog" aria-hidden="true">'
                  htmlString += '<div class="modal-content">'
                  htmlString += ' <div class="close-modal" data-dismiss="modal">'
                  htmlString += '  <div class="lr">'
                  htmlString += '   <div class="rl">'
                  htmlString += '   </div>'
                  htmlString += '  </div>'
                  htmlString += ' </div>'
                  htmlString += ' <div class="container">'
                  htmlString += '  <div class="row">'
                  htmlString += '   <div class="col-lg-8 col-lg-offset-2">'
                  htmlString += '    <div class="modal-body">'
                  htmlString += '     <h2>' + fulltitle + '</h2>'
                  htmlString += '     <hr class="star-primary">'
                  htmlString += '     <p>with <em>' + workshop.runner + '</em></p>'
                  htmlString += '     <p>' + workshop.description + '</p>'
                  htmlString += '     <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>'
                  htmlString += '    </div>'
                  htmlString += '   </div>'
                  htmlString += '  </div>'
                  htmlString += '  </div>'
                  htmlString += ' </div>'
                  htmlString += '</div>'
                  $div.after(htmlString)
            })
      })
    </script>
            </div>      
</section>
{% include 2019_data/speakers_info.html %}
