<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Welcome</h2>
                </div>
            </div>
            <div class="row container">
                <p>The Inter-Varsity Folk Dance Festival is coming to Edinburgh in 2019!
Come join us from the 1st-3rd March 2019 for a weekend of music and dancing.
                </p>
                <br>

                <center><a href="https://ivfdf2019.eventcube.io/events/14177" class="page-scroll btn
            btn-xl">Get your tickets</a></center>
                <center><a href="https://ivfdf2019.eventcube.io/events/14177" class="page-scroll btn
            btn-xl">Apply to give a workshop</a></center>
                <center><a href="https://docs.google.com/forms/d/e/1FAIpQLSd-PT8qk5Vrnq3NsXZWYPSuw4zgOiS5OrEjm3nxy0Q6Lbk4XQ/viewform?fbclid=IwAR3V5KQkOQVz4yi9SQV6h7-6DeXo9AM-mIgSq_kZehGfa3gF--WrXtI_XNc" class="page-scroll btn
            btn-xl">Apply to be a steward (link coming soon!)</a></center>
            </div>
        </div>
    </section>
