<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Welcome</h2>
                </div>
            </div>
            <div class="row container">
                <p>The Inter-Varsity Folk Dance Festival is coming to Edinburgh in 2019!
Come join us from the 1st-3rd March 2019 for a weekend of music and dancing. For the most regular updates, don't forget to like the <a href="https://www.facebook.com/IVFDF2019">IVFDF 2019 Facebook page</a>!
                </p>
                <p>We have tickets available for the individual evening events (£10/£8), for the workshop and day events, or for the full weekend (£35/£20). We are proud to be the most affordable large folk dance festival in the UK!</p>
                <br>

                <center><a href="https://ivfdf2019.eventcube.io/events/14177" class="page-scroll btn
            btn-xl">Get your tickets</a></center>
                <br><br>
                <center><a href="https://docs.google.com/forms/d/e/1FAIpQLScMf4Ey68Edsovps2N_AzDjEmRO6batEWsV8kc--xQrzlrAaQ/viewform"  class="page-scroll btn
            btn-xl">Apply to be a steward</a></center>
            </div>
        </div>
    </section>
