<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Welcome</h2>
                </div>
            </div>
            <div class="row container">
                <p>The Inter-Varsity Folk Dance Festival is coming to Edinburgh in 2019!
Come join us from the 1st-3rd March 2019 for a weekend of music and dancing.
                </p>
                <br>

                <center><a href="https://ivfdf2019.eventcube.io/events/14177" class="page-scroll btn
            btn-xl">Get your tickets here!</a></center>
            </div>
        </div>
    </section>
