 <!-- Portfolio Modals -->
 {% assign bands = site.2019_bands| sort: 'order' %}
 {% for band in bands %}
    <div class="portfolio-modal modal fade" id="{{ band.name }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ band.title }}</h2>
                            <hr class="star-primary">
                            <img src="../css/2019_style/img/bands/{{ band.thumbnail }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p>{{ band.description }}</p>
                         <p>{{ band.title }} will be playing for <em>{{ band.dance }}</em>{% if band.caller %}, and will be called by {{ band.caller }}{% endif %}.</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
