<script src="{{ "../css/2019_style/js/timetable.js" | prepend: site.baseurl }}"></script>
<link rel="stylesheet" href="{{ "../css/2019_style/css/timetable.css" | prepend: site.baseurl }}">
<script>
  workshops = [
  {
    "title": "Folky Games",
    "shorttitle": "Folky Games",
    "id": 1,
    "day": "Saturday",
    "size": "Small (1-20)",
    "style": "talk NonDance",
    "runner": "Eleanor Budden",
    "block": 11,
    "position": 3,
    "noclash": "",
    "venue": "Crafts room",
    "gender": "",
    "description": "Come along and chill out learning some games including Icebreakers and folk related ones. Also bring along a game you'd like to try out or play. "
  },
  {
    "title": "Contra with a flourish!",
    "shorttitle": "Contra with a flourish!",
    "id": 2,
    "day": "Saturday",
    "size": "Large (50+)",
    "style": "contra",
    "runner": "Nicky McConkey and Charlie Turner",
    "block": 1,
    "position": 1,
    "noclash": "",
    "venue": "Debating hall",
    "gender": "",
    "description": "Add some swirl to your swing, and some pazzazz to your petronella! We'll explore our favourite ways to add style by going beyond the standard contra figures to make contra dancing even more fun. You'll practice some fun moves, learn how to be a considerate partner and neighbour, and bring it all together with the band and caller. Suitable for people who already know how to contra dance."
  },
  {
    "title": "Contra without roles",
    "shorttitle": "Contra without roles",
    "id": 3,
    "day": "Saturday, Sunday",
    "size": "Medium (20-49)",
    "style": "contra",
    "runner": "Sam Tetley",
    "block": 1,
    "position": 2,
    "noclash": "",
    "venue": "Debating hall",
    "gender": "",
    "description": "An experiment in dancing contra without needing to keep track of whether you’re a lark or a raven, using simple positional references to navigate the dance, and to role-switch if you want to. Mixed level, for people with some experience of contra."
  },
  {
    "title": "Contra-olled Chaos",
    "shorttitle": "Contra-olled Chaos",
    "id": 4,
    "day": "Saturday, Sunday",
    "size": "Large (50+)",
    "style": "contra",
    "runner": "Charlie Turner",
    "block": 1,
    "position": 3,
    "noclash": "",
    "venue": "Debating hall",
    "gender": "",
    "description": "In this contra workshop you'll learn how to swap roles AND swap partners with other willing dancers during a contra dance. Find out the rules to follow to keep the dance working for everybody!"
  },
  {
    "title": "Introduction to Balfolk - Beginner",
    "shorttitle": "Introduction to Balfolk - Beginner",
    "id": 5,
    "day": "Saturday",
    "size": "Medium (20-49)",
    "style": "partner",
    "runner": "Susanna Vigliani & Agnese Aghito",
    "block": 3,
    "position": 1,
    "noclash": "",
    "venue": "Highland room",
    "gender": "",
    "description": "Explore the secret moves behind those dances you've always been dragged into without having a clue about what  was going on - and be ready to enjoy a wonderful bal by Naragonia on Saturday night. You'll be introduced to the Andro and the Hanterdro, friends but not too much;  the beautifully choral Chapelloise and Circassian Circle, and maybe some Schottische if we still have time."
  },
  {
    "title": "Greek Traditional Dancing - a voyage around Greece",
    "shorttitle": "Greek Traditional Dancing",
    "id": 6,
    "day": "Saturday",
    "size": "Medium (20-49)",
    "style": "International",
    "runner": "Sofia Papadia",
    "block": 7,
    "position": 1,
    "noclash": "",
    "venue": "Ochil room ",
    "gender": "",
    "description": "Greek traditional dances vary greatly from region to region, are typically circle dances and the music ranges from regular to intricate irregular rhythms. Join our musical journey around Greece where we will focus on unusual rhythms and dancing patterns after some easy basics. No partner required, wear comfortable supportive shoes."
  },
  {
    "title": "Latvian Dancing",
    "shorttitle": "Latvian Dancing",
    "id": 7,
    "day": "Saturday",
    "size": "Medium (20-49)",
    "style": "International",
    "runner": "Daina Auzins",
    "block": 7,
    "position": 2,
    "noclash": "",
    "venue": "Highland room",
    "gender": "",
    "description": "This workshop will include traditional dances from Latvia with live music. The steps are simple, so easy enough for beginners but also suitable for advanced dancers who want to try another style of European dance. Please bring footwear with a bit of grip. Musicians are also welcome for a scratch band!"
  },
  {
    "title": "Highland Steps for Scottish Country Dancing",
    "shorttitle": "Highland Steps for Scottish Country Dancing",
    "id": 8,
    "day": "Saturday",
    "size": "Small (1-20)",
    "style": "Scottish",
    "runner": "Stephen Mitchell",
    "block": 6,
    "position": 3,
    "noclash": "",
    "venue": "Highland room",
    "gender": "",
    "description": "In this workshop I'll be covering some basic Highland steps that are commonly used in Scottish Country dances and then putting them into dances where you can use them. Some experience of Scottish Country dancing is needed but experienced set dancers of other kinds are welcome to give it a shot. Learn new ways to impress people at dances! "
  },
  {
    "title": "North West Morris",
    "shorttitle": "North West Morris",
    "id": 9,
    "day": "",
    "size": "",
    "style": "",
    "runner": "Phil Davies",
    "block": 8,
    "position": 4,
    "noclash": "",
    "venue": "Highland room",
    "gender": "",
    "description": "This is a workshop looking at the basics of North West Morris dancing, including the steps and learning a traditional NW dance. All welcome, some basic folk dancing experience would be useful but not essential. Wear comfortable shoes suitable for dancing in such as trainers."
  },
  {
    "title": "Border Morris",
    "shorttitle": "Border Morris",
    "id": 10,
    "day": "Saturday, Sunday",
    "size": "Medium (20-49)",
    "style": "morris",
    "runner": "Chris Broan",
    "block": 2,
    "position": 5,
    "noclash": "",
    "venue": "Highland room",
    "gender": "",
    "description": "Border morris is the oldest, & the wildest, of the main morris styles. Danced with energy, it was basically out-of-work farm labourers disguising themselves with sooty faces & begging with menaces (& very large sticks). The workshop will be suitable for any level from beginners upwards."
  },
  {
    "title": "An Introduction to Home Recording",
    "shorttitle": "An Introduction to Home Recording",
    "id": 11,
    "day": "Saturday, Sunday",
    "size": "Small (1-20)",
    "style": "Tech",
    "runner": "Alastair Mackie",
    "block": 9,
    "position": 6,
    "noclash": "noclash other tech",
    "venue": "Highland room",
    "gender": "",
    "description": "This workshop will give an overview of the equipment and basic techniques required to record and edit music from the comfort of your home. It is aimed at complete beginners, no prior knowledge is required. Skills learned in the workshop can be applied to any instrument or genre."
  },
  {
    "title": "Scottish Country Dance",
    "shorttitle": "Scottish Country Dance",
    "id": 12,
    "day": "",
    "size": "",
    "style": "scottish",
    "runner": "Liz & Kirsten",
    "block": 6,
    "position": 1,
    "noclash": "",
    "venue": "Lomond room",
    "gender": "",
    "description": ""
  },
  {
    "title": "An Intro to Tango",
    "shorttitle": "An Intro to Tango",
    "id": 13,
    "day": "Saturday",
    "size": "Medium (20-49)",
    "style": "partner",
    "runner": "Konstanze Simbriger",
    "block": 3,
    "position": 2,
    "noclash": "",
    "venue": "Lomond room",
    "gender": "",
    "description": "I will give an introduction to the basics of Argentine tango. You will learn how to lead and follow and about the basic improvisation technique. Gender-free and no need to come with a partner."
  },
  {
    "title": "Conversational Partner Dance",
    "shorttitle": "Conversational Partner Dance",
    "id": 14,
    "day": "Saturday, Sunday",
    "size": "Medium (20-49)",
    "style": "partner",
    "runner": "Sabina Lawrie and Matt Robinsson",
    "block": 3,
    "position": 3,
    "noclash": "no 5/6",
    "venue": "Lomond room",
    "gender": "",
    "description": "This workshop is about moving beyond strict lead-follow roles and into a space where you're not quite sure who initiated that cool movement but it felt AMAZING. We’ll focus on suggestion, listening, and response – all danced to some lovely blues music. For all levels."
  },
  {
    "title": "Dances from Britanny",
    "shorttitle": "Dances from Britanny",
    "id": 15,
    "day": "Sunday",
    "size": "",
    "style": "folk",
    "runner": "JC",
    "block": 2,
    "position": 4,
    "noclash": "",
    "venue": "Lomond room",
    "gender": "",
    "description": "Come and dance around Brittany, from joyful couple dances from the coast to energetic chain dances from the \"mountains\". We will move from the French-speaking areas to discover the Breton and Gallo speaking counties. You will dance on traditional but also \"contemporary traditional\" music. Cider not provided, but pinkie exercises are!"
  },
  {
    "title": "Edinburgh Quadrilles",
    "shorttitle": "Edinburgh Quadrilles",
    "id": 16,
    "day": "Sunday",
    "size": "Medium (20-49)",
    "style": "Scottish",
    "runner": "Talitha MacKenzie",
    "block": 6,
    "position": 5,
    "noclash": "",
    "venue": "Lomond room",
    "gender": "",
    "description": "Nathaniel Gow was Regency Edinburgh’s King of Quadrilles (dances for four couples in a square). Join us for fun, fitness and a taste of Scottish history and culture as we rediscover these dances and bring them to life.  Comfortable soft shoes recommended. All levels of dancer welcome – no experience necessary."
  },
  {
    "title": "Rapper Sword",
    "shorttitle": "Rapper Sword",
    "id": 17,
    "day": "Sunday",
    "size": "Medium (20-49)",
    "style": "morris",
    "runner": "Mons Meg, Kev Theaker",
    "block": 7,
    "position": 6,
    "noclash": "",
    "venue": "Lomond room",
    "gender": "",
    "description": "Mons Meg are Edinburgh's own rapper team.  We will be teaching an introduction to the fast flexible sword dance tradition from NE England. Hard shoes recommended"
  },
  {
    "title": "Singing the Dance",
    "shorttitle": "Singing the Dance",
    "id": 18,
    "day": "Saturday",
    "size": "Small (1-20)",
    "style": "scottish",
    "runner": "Naomi Harvey",
    "block": 9,
    "position": 2,
    "noclash": "sunday ok?",
    "venue": "Ochil room ",
    "gender": "",
    "description": "Gaelic puirt-a-beul (mouth music) are set to dancing tunes – but can you dance and sing them at the same time?! Historic sources suggest that this was once the case. This workshop will involve some simple Gaelic songs and step-dancing. No prior knowledge required, just a pair of hard-soled shoes and a sense of adventure!"
  },
  {
    "title": "Irish Set Dance",
    "shorttitle": "Irish Set Dance",
    "id": 19,
    "day": "Saturday",
    "size": "Small (1-20)",
    "style": "set",
    "runner": "John Corbett",
    "block": 4,
    "position": 3,
    "noclash": "noclash michela Greg Minna session",
    "venue": "Ochil room ",
    "gender": "",
    "description": "A beginner and intermediate introduction to Irish Set Dance. All welcome. No need for previous experience or indeed a partner! We will teach the steps and part of a 'set' during the workshop so that you can take it away to the world! no special shoes needed - 'if you can walk , you can dance!'"
  },
  {
    "title": "Scratch Band Practice",
    "shorttitle": "Scratch Band Practice",
    "id": 20,
    "day": "Sunday",
    "size": "Angharad",
    "style": "music",
    "runner": "Angharad",
    "block": 7,
    "position": 4,
    "noclash": "",
    "venue": "Ochil room ",
    "gender": "",
    "description": ""
  },
  {
    "title": "Scratch Band Practice",
    "shorttitle": "Scratch Band Practice",
    "id": 21,
    "day": "Sunday",
    "size": "",
    "style": "music",
    "runner": "Angharad",
    "block": 7,
    "position": 5,
    "noclash": "",
    "venue": "Ochil room ",
    "gender": "",
    "description": ""
  },
  {
    "title": "Tricks to Learning Tunes",
    "shorttitle": "Tricks to Learning Tunes",
    "id": 22,
    "day": "Sunday",
    "size": "Medium (20-49)",
    "style": "music",
    "runner": "Jeri Foreman",
    "block": 5,
    "position": 6,
    "noclash": "",
    "venue": "Ochil room ",
    "gender": "",
    "description": "Dance tunes are so distinctive and for people who play for dances, a very large repertoire is usually required. How do you learn lots of tunes in a hurry? Come along and hear a few ideas for practicing and some important things to listen out for. \nInstruments welcome, but we'll spend more time talking through things, so be prepared to take notes too. Aimed at beginners - intermediate players."
  },
  {
    "title": "Calling without Gender Terms",
    "shorttitle": "Calling without Gender Terms",
    "id": 23,
    "day": "",
    "size": "",
    "style": "talk calling",
    "runner": "Lisa Heywood",
    "block": 8,
    "position": 1,
    "noclash": "",
    "venue": "Pentland room",
    "gender": "",
    "description": "This workshop will explore how to make gender free calling work for you and and your dancers. We'll discuss the ideas behind calling without gender terms, practical tips on how to make it work with different dance styles, and have a go at applying it to different dances. Callers of all levels and styles welcome - bring calling notes/cards if you have them!"
  },
  {
    "title": "Irish Session for Beginners",
    "shorttitle": "Irish Session for Beginners",
    "id": 24,
    "day": "Saturday",
    "size": "Small (1-20)",
    "style": "music",
    "runner": "Finn McAleer & Justine Taylor",
    "block": 10,
    "position": 2,
    "noclash": "noclash set dance sunday ok?",
    "venue": "Pentland room",
    "gender": "",
    "description": "Last IVFDF we loved the fiddle session for beginners. Justine apparently didn't even know how to hold her bow. But after the session there was nowhere to try out her new skills because the existing session was kinda too advanced. We started our own and it was great, but outside and cold. So lets sit around and make tunes but in the spirit of welcoming people who are just getting to know their instruments, or people who want to learn a tune really well the good old fashioned way (in a pub) but slowed down. "
  },
  {
    "title": "Exciting Tune Changes!",
    "shorttitle": "Exciting Tune Changes!",
    "id": 25,
    "day": "Saturday, Sunday",
    "size": "Small (1-20)",
    "style": "music",
    "runner": "Heather McAslan",
    "block": 9,
    "position": 3,
    "noclash": "",
    "venue": "Pentland room",
    "gender": "",
    "description": "Playing around with ways to programme exciting or interesting tune changes/arrangements that change the mood or energy for the dancers. Bring instruments and ideas! We’ll use tunes common to the group on the day and we’ll also bring dots for existing sets we think work well!"
  },
  {
    "title": "PA for the Frankly Terrified",
    "shorttitle": "PA for the Frankly Terrified",
    "id": 26,
    "day": "Saturday, Sunday",
    "size": "Small (1-20)",
    "style": "tech",
    "runner": "Peter Crowther",
    "block": 9,
    "position": 4,
    "noclash": "easy access",
    "venue": "Pentland room",
    "gender": "",
    "description": "Oh no! Your band / dance team / club has this weird technology named something like \"mixing desk\" and it's frankly intimidating. Learn the basics of microphones, mixers, speakers, and foldback in a friendly and non-judgemental workshop from a festival sound engineer. Bring voices, instruments, questions, and a sense of humour. "
  },
  {
    "title": "Appalachian Clog for Beginners/Improvers",
    "shorttitle": "Appalachian Clog for Beginners/Improvers",
    "id": 27,
    "day": "Sunday",
    "size": "Small (1-20)",
    "style": "solo",
    "runner": "Janet Hutchinson",
    "block": 5,
    "position": 5,
    "noclash": "noclash burt",
    "venue": "Pentland room",
    "gender": "",
    "description": "This workshop will cover basic Appalachian clog steps and we will put the steps into a dance for you to take away and share.  Hard soled shoes or taps required.  Steve will accompany us on mandolin or harmonica."
  },
  {
    "title": "Playing/Singing with amplification",
    "shorttitle": "Playing/Singing with amplification",
    "id": 28,
    "day": "Saturday, Sunday",
    "size": "Small (1-20)",
    "style": "tech",
    "runner": "Peter Crowther",
    "block": 8,
    "position": 6,
    "noclash": "easy access",
    "venue": "Pentland room",
    "gender": "",
    "description": "How do I amplify my melodeon? Where do I bug my hurdy-gurdy? How near should I be when singing into a microphone? How can I hear myself in the band? Should I spend hundreds of pounds to amplify my washboard? Ask a band and festival sound engineer. All levels welcome, bring things you want amplified and questions. "
  },
  {
    "title": "Northern Italian Dance",
    "shorttitle": "Northern Italian Dance",
    "id": 29,
    "day": "Saturday, Sunday",
    "size": "Medium (20-49)",
    "style": "folk",
    "runner": "Davide Panzeri",
    "block": 2,
    "position": 1,
    "noclash": "noclash contra",
    "venue": "Quaker studio",
    "gender": "*",
    "description": "Hailing from the narrow creeks surrounding lake Como, Davide is back at IVFDF (yet again) to teach the dancing ways of the Italian north. From the Occitan valleys of Piedmont to the rural north east, you will have the chance to learn some fun traditional and revival dances that are danced in the Bel Paese to prepare you for your next Milanese dance trip. The workshop will include a refreshing mix of slow and more energetic group dances to get you going for the day."
  },
  {
    "title": "Italian Southern Tarantella: Pizzica",
    "shorttitle": "Italian Southern Tarantella: Pizzica",
    "id": 30,
    "day": "Saturday",
    "size": "Small (1-20)",
    "style": "folk",
    "runner": "Michela Furin",
    "block": 2,
    "position": 2,
    "noclash": "noclash irish",
    "venue": "Quaker studio",
    "gender": "",
    "description": "Tarantella is a Southern Italian Folk Music Genre. Pizzica is a joyful and passionate dance from Puglia, also associated with Tarantism, a kind of historical ethnomusical therapy. We will explore basic steps and relational dynamics. No experience required, open to everybody and all ages."
  },
  {
    "title": "Occitan Dances",
    "shorttitle": "Occitan Dances",
    "id": 31,
    "day": "",
    "size": "",
    "style": "folk",
    "runner": "Xavier",
    "block": 2,
    "position": 3,
    "noclash": "",
    "venue": "Quaker studio",
    "gender": "",
    "description": "Learn dances from Occitania, the historical area covering the south of France, the Italian Alps, Monaco and the north-west of Catalonia! You will encounter exciting stomping, both elegant and less dignified bouncing, and plenty of cute dances in a friendly, fun atmosphere. Chocolate biscuits welcome, terrible humour provided."
  },
  {
    "title": "Get Started with Scottish Stepdancing",
    "shorttitle": "Get Started with Scottish Stepdancing",
    "id": 32,
    "day": "Saturday, Sunday",
    "size": "Medium (20-49)",
    "style": "solo",
    "runner": "Fiona Campbell",
    "block": 5,
    "position": 4,
    "noclash": "",
    "venue": "Quaker studio",
    "gender": "",
    "description": "Scottish stepdancing is a traditional Scottish form of hard-shoe dancing - which can be danced solo, or combined with simple dance patterns and `birling`. Learn the basics of Scottish stepdancing - strathspey, reel and jig steps. Recommended footwear are hard soled shoes, ideally with a small heel or trainers."
  },
  {
    "title": "How to Lead and Follow Anything",
    "shorttitle": "How to Lead and Follow Anything",
    "id": 33,
    "day": "Saturday, Sunday",
    "size": "Medium (20-49)",
    "style": "partner",
    "runner": "Greg + Jess",
    "block": 3,
    "position": 5,
    "noclash": "",
    "venue": "Quaker studio",
    "gender": "",
    "description": "Leading and following with confidence often seems like rocket science, only mastered by those with a PhD in tango. We think it's actually quite simple and will show you why."
  },
  {
    "title": "Emergency Blues Dance Kit",
    "shorttitle": "Emergency Blues Dance Kit",
    "id": 34,
    "day": "Sunday",
    "size": "Medium (20-49)",
    "style": "partner",
    "runner": "Rachel Muir and Martin Hare Robertson",
    "block": 3,
    "position": 6,
    "noclash": "",
    "venue": "Quaker studio",
    "gender": "",
    "description": "So you’ve found yourself at a blues social dance and you have no idea whats going on. Help! This class will give you the tools to be dancing all night long. An American folk dance with African roots, focusing on connection to music and partner, improvisation and general badassery! \n"
  },
  {
    "title": "Exploring Science and Dance",
    "shorttitle": "Exploring Science and Dance",
    "id": 35,
    "day": "",
    "size": "",
    "style": "talk",
    "runner": "Science Ceilidh",
    "block": 4,
    "position": 2,
    "noclash": "",
    "venue": "SSCC - big hall",
    "gender": "",
    "description": "Fancy “Stripping-the-Helix”? Or “Canadian Brain Dance”? Join the Science Ceilidh for a workshop exploring how we use dance to help explore science concepts, having developed over 30 science-themed dances and resources with over 25,000 learners, researchers & community members across Scotland and the UK. We’ll try a few of the newer science-themed dances and then work together to make a new dance ourselves! We’ll also have a discussion about the research around the benefits of dance for health and wellbeing - questions welcome, no science (or dance) experience needed!"
  },
  {
    "title": "Tudor",
    "shorttitle": "Tudor",
    "id": 36,
    "day": "Saturday",
    "size": "Medium (20-49)",
    "style": "set",
    "runner": "Elizabeth Lawson",
    "block": 8,
    "position": 3,
    "noclash": "",
    "venue": "SSCC - big hall",
    "gender": "*",
    "description": "Simple dances from the sixteenth century suitable for beginners."
  },
  {
    "title": "Lindy Hop for Beginners",
    "shorttitle": "Lindy Hop for Beginners",
    "id": 37,
    "day": "Saturday, Sunday",
    "size": "Medium (20-49)",
    "style": "partner",
    "runner": "Rosie Peters",
    "block": 3,
    "position": 4,
    "noclash": "",
    "venue": "SSCC - big hall",
    "gender": "",
    "description": "Lindy Hop for beginners will teach people the basics of lindy Hop - an African American dance from the 30s/40s - to anyone who wants to try! It'll start from the very beginning, teaching footwork, connection and some moves to get people dancing! Please bring shoes you can comfortably dance in (ideally that support your feet, but not super necessary) "
  },
  {
    "title": "Dances for the Brave",
    "shorttitle": "Dances for the Brave",
    "id": 38,
    "day": "Sunday",
    "size": "Large (50+)",
    "style": "contra",
    "runner": "Rhianwen Davies",
    "block": 1,
    "position": 5,
    "noclash": "",
    "venue": "SSCC - big hall",
    "gender": "",
    "description": "Rhianwen Davies is an Undergrad Maths student with a predilection for patterns that are both confusing and beautiful. Do you have the courage to test yourself against some mind-bending contra and social dances? For experienced dancers eager for a challenge."
  },
  {
    "title": "Constant Contra Medley",
    "shorttitle": "Constant Contra Medley",
    "id": 39,
    "day": "Saturday, Sunday",
    "size": "Large (50+)",
    "style": "contra",
    "runner": "Charlie Turner",
    "block": 1,
    "position": 6,
    "noclash": "",
    "venue": "SSCC - big hall",
    "gender": "",
    "description": "Just Keep Dancing! Allow a calvalcade of IVFDF's finest contra dance callers to guide you through a constant stream of contra dance - no walkthroughs and no interruptions! If you want a break or to ask somebody else to dance, just stop dancing at the end of the set and join back in when you're ready. Suitable for dancers familiar with common contra figures."
  },
  {
    "title": "English Part Songs",
    "shorttitle": "English Part Songs",
    "id": 40,
    "day": "Saturday",
    "size": "Small (1-20)",
    "style": "music",
    "runner": "Clare Galwey",
    "block": 9,
    "position": 1,
    "noclash": "",
    "venue": "SSCC - room 1",
    "gender": "",
    "description": "In this workshop we will learn some acapella part songs from around England. Suitable for intermediate singers or brave beginners! Sheet music will be available for those who want it, but reading music is not a requirement. "
  },
  {
    "title": "Not your Grandmother's Mazurka!",
    "shorttitle": "Not your Grandmother's Mazurka!",
    "id": 41,
    "day": "Saturday",
    "size": "Medium (20-49)",
    "style": "music",
    "runner": "Clare Rose",
    "block": 8,
    "position": 2,
    "noclash": "",
    "venue": "SSCC - room 1",
    "gender": "",
    "description": "The balfolk mazurka has changed massively over the last few years, from fast and hopping to slow and slinky, and this is reflected in the tunes being written. This workshop will teach a selection of mazurkas from the traditional 'Grandmother's Mazurka' to newly-published tunes by Naragonia. Dots available. Intermediate, for any instrument that can play in Dminor and Gminor."
  },
  {
    "title": "Reps Meeting",
    "shorttitle": "Reps Meeting",
    "id": 42,
    "day": "Saturday",
    "size": "",
    "style": "talk",
    "runner": "Sol Loreto-Miller",
    "block": 10,
    "position": 3,
    "noclash": "",
    "venue": "SSCC - room 1",
    "gender": "",
    "description": "Open to anyone who's interested in the bureaucratic side of IVFDF :) We will discuss the results and logistics of the past, present and future IVFDFs (2018-2021) and the general running of IVFDF central. Each society may send up to two members with voting rights, though more than 2 members per society may be present at the meeting."
  },
  {
    "title": "Expanding Clawhammer Banjo",
    "shorttitle": "Expanding Clawhammer Banjo",
    "id": 43,
    "day": "Saturday, Sunday",
    "size": "Small (1-20)",
    "style": "music",
    "runner": "Theo Nicholson",
    "block": 6,
    "position": 4,
    "noclash": "",
    "venue": "SSCC - room 1",
    "gender": "",
    "description": "A workshop for players of the clawhammer style banjo wishing to expand their technique and explore methods for playing British and European dance music.   The workshop is aimed at intermediate and advanced players however beginners are also welcome to observe; it's never too early to start expanding your horizons!"
  },
  {
    "title": "Everything you Always Wanted to Know about Running IVFDF (but were too afraid to ask!)",
    "shorttitle": "How to Run an IVFDF\n",
    "id": 44,
    "day": "",
    "size": "",
    "style": "talk",
    "runner": "Zoe + JC",
    "block": 8,
    "position": 5,
    "noclash": "",
    "venue": "SSCC - room 1",
    "gender": "",
    "description": "Thinking of organising IVFDF or other folk events? We'll offer a platform to ask any questions and discuss what it's like to organise an IVFDF and other folk events, from very practical and logistical details to running a volunteers' committee. Between them, JC and Zoe have organised two IVFDFs, and were heavily involved in running two folk dance societies. We welcome any previous IVFDF organisers to join and offer their experience/advice."
  },
  {
    "title": "Our Dance Stories",
    "shorttitle": "Our Dance Stories",
    "id": 45,
    "day": "Saturday, Sunday",
    "size": "Small (1-20)",
    "style": "talk NonDance",
    "runner": "Daiva Ivanauskaitė",
    "block": 6,
    "position": 6,
    "noclash": "",
    "venue": "SSCC - room 1",
    "gender": "",
    "description": "This is a fun workshop for story- and dance-lovers. In groups we will share our personal dance stories, then as a group we will choose the story we want to tell and shape it into a fiery-tales or mix of real and magic. At the end of workshop we will share the story to the whole class using storytelling, singing and dancing, whatever helps! Bring your own instruments if you play one! The workshop is lead by storyteller Daiva Ivanauskaitė."
  },
  {
    "title": "Welsh Clog Dancing",
    "shorttitle": "Welsh Clog Dancing",
    "id": 46,
    "day": "Saturday",
    "size": "Medium (20-49)",
    "style": "solo",
    "runner": "Elisa Morris",
    "block": 5,
    "position": 1,
    "noclash": "",
    "venue": "Torridon room",
    "gender": "",
    "description": "Come and try out some Welsh Clog Dancing. Learn some basic steps, syncopated rhythms and tricks. No previous experience required. Bring along clogs or hard shoes if you have them. Trainers work just as well when going through the basics. "
  },
  {
    "title": "Bharatanatyam",
    "shorttitle": "Bharatanatyam",
    "id": 47,
    "day": "Saturday",
    "size": "Small (1-20)",
    "style": "solo",
    "runner": "Sulaimina Bharwani",
    "block": 5,
    "position": 2,
    "noclash": "",
    "venue": "Torridon room",
    "gender": "",
    "description": "An introduction to the rhythmic footwork, intricate hand gestures and story telling that make up Bharatanatyam, one of the oldest forms of classical Indian dance. Everyone is welcome to participate. Please note this style is usually danced barefoot and shoe removal is encouraged."
  },
  {
    "title": "Govend (Kurdish Folk Dance)",
    "shorttitle": "Govend (Kurdish Folk Dance)",
    "id": 48,
    "day": "Saturday",
    "size": "Large (50+)",
    "style": "International",
    "runner": "Ozgur Atas",
    "block": 7,
    "position": 3,
    "noclash": "",
    "venue": "Torridon room",
    "gender": "",
    "description": "Kurdish dances are mixed-gender. They are a group of traditional hand-holding dances that take a circle, or circular line, form, and often feature a single or pair of figure dancers in the center of the dancing circle. Kurds traditionally sing and dance in all of their festivals, birthdays, Newroz (Kurdish New Year), weddings, demonstrations, and other ceremonies."
  },
  {
    "title": "Create a Ballad-Crankie",
    "shorttitle": "Create a Ballad-Crankie",
    "id": 49,
    "day": "Sunday",
    "size": "",
    "style": "",
    "runner": "Naomi Harvey",
    "block": 1,
    "position": 4,
    "noclash": "",
    "venue": "Torridon room",
    "gender": "",
    "description": "The ballads of Scotland tell vivid tales of deeds dark and wondrous. ‘Crankies’ are a form of theatre which have been used to illustrate tales, songs and music since the 19th century. This workshop will involve illustrating the ballad-narrative on a panoramic scroll, using evocative paper-cutting and shadow puppetry. Suitable for all."
  },
  {
    "title": "Beginners Calling",
    "shorttitle": "Beginners Calling",
    "id": 50,
    "day": "Saturday, Sunday",
    "size": "Medium (20-49)",
    "style": "talk calling",
    "runner": "Sol Loreto-Miller",
    "block": 9,
    "position": 5,
    "noclash": "",
    "venue": "Torridon room",
    "gender": "*",
    "description": "Want to have a go at calling for the first time? Come and learn the basics! We'll look at technique, style & repertoire and will touch on the differences between gendered and gender-free. Focused on ceilidh calling but extendable to other disciplines."
  },
  {
    "title": "Beginners Whistle",
    "shorttitle": "Beginners Whistle",
    "id": 51,
    "day": "Saturday, Sunday",
    "size": "Medium (20-49)",
    "style": "music",
    "runner": "Pete Grassby",
    "block": 2,
    "position": 6,
    "noclash": "maybe musician, irish set?",
    "venue": "Torridon room",
    "gender": "",
    "description": "This is for folks who may have never picked up a whistle before. D whistles will be supplied, and may be purchased at the end of the workshop, with your name engraved on for no extra cost. Several tunes will be taught, most folks will be able to play them by the end of the session."
  },
  {
    "title": "Kentucky Running Set",
    "shorttitle": "Kentucky Running Set",
    "id": 52,
    "day": "Saturday",
    "size": "Medium (20-49)",
    "style": "set",
    "runner": "Burt Hunter",
    "block": 4,
    "position": 1,
    "noclash": "noclash appalachian",
    "venue": "Upper Hall",
    "gender": "*",
    "description": "In 1917 Cecil Sharp saw a demonstration of a dance form unknown outside a small area of the Appalchians.  The dance consists of a series of figures led by each couple in turn interspersed with chorus and whole set figures.  Running set is great fun for beginners and experienced dancers alike. There is no  complicated stepping and it is suitable for anyone who does not have serious mobility or articulation problems, (some figures require a lot of upper body contortions.)  "
  },
  {
    "title": "Playful Scottish Country Dancing",
    "shorttitle": "Playful Scottish Country Dancing",
    "id": 53,
    "day": "Saturday",
    "size": "Medium (20-49)",
    "style": "scottish",
    "runner": "Sabina Lawrie",
    "block": 6,
    "position": 2,
    "noclash": "",
    "venue": "Upper Hall",
    "gender": "",
    "description": "We are all about finding spaces to be playful within Scottish Country Dancing, so if you also consider rules to be more sort of guidelines, we’ll be adding in extra spins, claps, role changes, shimmies, and more to your dancing! Suitable for anyone who can dance a reel of three."
  },
  {
    "title": "Barbershop: History and Harmony",
    "shorttitle": "Barbershop: History and Harmony",
    "id": 54,
    "day": "Saturday",
    "size": "Medium (20-49)",
    "style": "music",
    "runner": "Isaac Banner",
    "block": 5,
    "position": 3,
    "noclash": "",
    "venue": "Upper Hall",
    "gender": "",
    "description": "Barbershop harmony is a classic folk tradition dating back to the 1920's in America. Hear some of the history surrounding this vocal sensation and learn to sing several classic snippets or \"tags\" in the Barbershop style. Sheet music will be provided, along with each part being taught by ear. Some vocal experience is helpful, but all are welcome to join. "
  },
  {
    "title": "Reels and Heys!",
    "shorttitle": "Reels and Heys!",
    "id": 55,
    "day": "Saturday, Sunday",
    "size": "Medium (20-49)",
    "style": "set",
    "runner": "Sally Vernon",
    "block": 4,
    "position": 4,
    "noclash": "",
    "venue": "Upper Hall",
    "gender": "",
    "description": "‘Face your partner, dance a reel of 6!’  Do reels leave you confused, and you’d like to learn more?  Do you really like dances with reels in?  Would you like to see how the same move is done in Playford, Scottish and Contra?  This workshop keeps it reel, with reels on the sides, reels on the diagonals, reels across, mirror reels, dolphin reels, inveran reels - we may even try contra spins in the middle of reels! Come and have a reely good time!"
  },
  {
    "title": "Playford",
    "shorttitle": "Playford",
    "id": 56,
    "day": "Saturday, Sunday",
    "size": "Large (50+)",
    "style": "set",
    "runner": "Rhodri Davies",
    "block": 4,
    "position": 5,
    "noclash": "",
    "venue": "Upper Hall",
    "gender": "",
    "description": "John Playford published the first edition of the English Country Dancing Master in 1651. It has been interpreted in various ways over the years. We'll be starting from some of the basic moves (what are doubles and siding) to some of staple and most enjoyable of the dances. Be prepared to dance with energy and style."
  },
  {
    "title": "Advanced Ceilidh Dance",
    "shorttitle": "Advanced Ceilidh Dance",
    "id": 57,
    "day": "Sunday",
    "size": "Medium (20-49)",
    "style": "set",
    "runner": "Phil Davies",
    "block": 4,
    "position": 6,
    "noclash": "",
    "venue": "Upper Hall",
    "gender": "*",
    "description": "Fancy learning some slightly more tricky ceilidh dances? This workshop will focus mainly on square set dances which contain some complex moves and figures, breaking them down as necessary! All welcome but probably not suitable for complete beginners."
  }
]
</script>
